<html>

<head>
    <title>P5-Boil</title>
    <script type="text/javascript" src="//localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="style.css">




    <!-- build:dev -->
    <% if (library == "p5js"){ %>
    <script language="javascript" src="libs/p5-0.5.16.js"></script>
    <% } %>
    <% if (library == "processingjs"){ %>
    <script language="javascript" src="libs/pjs1.4.8.js"></script>
    <% } %>
    <% if (library == "processingjs-hack"){ %>
    <% } %>
    <!-- /build -->

	<!-- build:dev -->
 	<% if (bundleMethod == "concat"){ %>
    <!--  using concat method -->
    <script language="javascript" src="index.js"></script>
    <% } %>
    
    <% if (bundleMethod == "browserify"){ %>
    <!-- using browserify -->
	<script language="javascript" src="dev_bundle.js"></script>
	<% } %>
 	<!-- /build -->

</head>

<body>
    <!-- <div id="p5_loading">Loading the stuffs...<div> -->
</body>


   <!--  <script language="javascript" src="libs/jquery-3.3.1.slim.min.js"></script>
    <script language="javascript" src="libs/jq-ease.js"></script>
     -->
</html>
